{% extends 'from_long_to_short/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Good day!</p>

<p>My name is Denis and I am a beginner Python developer who is currently looking for work.
<br>Simple test task in the past.
<br>I liked the idea, that's why I added a lot of functions inside.</p>
<p>Stack: Django 4, PostgreSQL, Redis, Celery, Flower, Docker, Django Debug Toolbar, Captcha.</p>

<p>Something like bit.ly.
<br>User can write own subpart (short part) to make his URL shorter.
<br>This service not for personal account, that's why it use sessions for users.
<br>Home page is a form which make short links, also if user was before and made some links - it will be on the home page below.
<br>If user didn't active some time, all his links will be delete by Celery.</p>

<p>Also I used captcha as a defence from bots.
<br>The feedback page is a page, where somebody can write to me and it will come for my e-mail.
<br>Page about me just about me, not more:)</p>
<p>I had axperiments with data caching, but right now I don't use it because I always add a new functions.
<br>At the end I would like to add cache and use docker for deploying my application for some host.</p>

<iframe src="https://drive.google.com/file/d/1AgdIdKL1SZAz0vaOFg2W3ssEhc7bn48v/preview" width="100%" height="1200"></iframe>
<br>
<hr>
<p><a href="https://drive.google.com/file/d/1AgdIdKL1SZAz0vaOFg2W3ssEhc7bn48v/view?usp=sharing" target="_blank">Download CV</a></p>
<p><a href="https://github.com/Denis-on-github" target="_blank">Github</a></p>
<p><a href="https://www.linkedin.com/in/d3n1s/" target="_blank">LinkedIn</a></p>
<p><a href="https://t.me/Cheban_denis" target="_blank">Telegram</a></p>
<p>E-mail: write.to.denis.today@gmail.com</p>
{% endblock %}