{% extends 'from_long_to_short/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Good day!</p>
<p>My name is Denis and I am a beginner Python developer who is currently looking for work.</p>
<p>This website is my pet-project.</p>
<p>I have completed several courses in Python, Django, and databases. I have also written another several
    pet projects, which can be found on my Github (link will be below). I love to learn and I am
    confident that I can make up for any missing knowledge and learn the necessary technologies.</p>
<p>I am currently looking for work because I feel that I have the strength and confidence to not only
    complete tasks "by the book", but also bring value to the business. Additionally, I am motivated by
    the fact that commercial experience will allow me to grow much faster.</p>
<p>I would be very happy to have the opportunity to contribute to the success of good team and learn
    from experienced specialists.</p>
<br>
<hr>
<br>
<h1>Self-education</h1>
<h3>Python Developer (student), 02.2022 – present time</h3>
<p>Currently, I have completed the following courses:</p>
<p>- <a href="https://codebasics.com/ru/languages/python" target="_blank">Python for Beginners</a></p>
<p>- <a href="https://smartiqa.ru/courses/python" target="_blank">Python Programming</a></p>
<p>- <a href="https://stepik.org/cert/1581154>" target="_blank">"Generation Python": A course for beginners</a></p>
<p>- <a href="https://stepik.org/cert/1909318" target="_blank">Python: Fundamentals and Applications</a></p>
<p>- <a href="https://stepik.org/cert/1936985" target="_blank">Interactive SQL Trainer</a></p>
<p>- <a href="https://www.youtube.com/watch?v=DYxjL0K3Hwk&list=PLQAt0m1f9OHvGM7Y7jAQP8TKbBd3up4K2" target="_blank">Django 3 </a>(egoroff_channel)</p>
<p>- <a href="https://www.youtube.com/watch?v=FyTL1bnUx5I&list=PLA0M1Bcd0w8xO_39zZll2u1lz_QMwn1F&index=1" target="_blank">Django 3 </a>(selfedu)</p>
<p><h1>Previous work exp.</h1></p>
<p><h3>"SZR" LLC, 10.2021 - 02.2023</h3></p>
<p>Oil and gas industry.<br>
Head of the Tender Department.
<p>- Prepared documentation, worked with large volumes of information and managed a team of three
    people.</p>
<p><h3>"DreamHouse" LLC, 09.2018 - 09.2021</h3></p>
<p>Distribution, sales.<br>
Deputy General Director.
<p>Worked in a team, responsible for task delegation and monitoring,
representing the company in negotiations.</p>
<h1>Education</h1>
<h3>"St. Petersburg Institute of International Economic Relations,
Economics and Law, 2010 - 2015</h3>
<p>- World economy</p>
<br>
<hr>
<br>
<p><a href="https://drive.google.com/file/d/1AgdIdKL1SZAz0vaOFg2W3ssEhc7bn48v/view?usp=sharing" target="_blank">CV</a></p>
<p><a href="https://github.com/Denis-on-github?tab=repositories" target="_blank">Github</a></p>
<p><a href="https://www.linkedin.com/in/d3n1s/" target="_blank">LinkedIn</a></p>
<p><a href="https://t.me/Cheban_denis" target="_blank">Telegram</a></p>
<p>E-mail: write.to.denis.today@gmail.com</p>
{% endblock %}